ID do seu bot no site da Discloud (OBRIGATÓRIO)
BOT_ID=1414825540719869952

Arquivo principal que inicia o bot
MAIN=bot.py

Quantidade de memória RAM para o bot. 100 é um bom começo para um bot de música.
RAM=2048

Reiniciar automaticamente se o bot cair
AUTORESTART=true

Versão do Python. 'latest' usa a mais recente suportada pela Discloud.
VERSION=latest

Instala pacotes do sistema. 'ffmpeg' é ESSENCIAL para o bot de música funcionar.
APT=ffmpeg